@use "../../../../_lib"as lib;

table {
    position: relative;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
}

table:nth-last-child(1) {
    box-shadow: 0px 4px 0px 0 lib.$clr-second;
}

thead {
    text-align: center;
    text-transform: uppercase;
    background-color: lib.$clr-second;
}

thead th {

    padding: 1rem;
}

tbody {
    text-align: center;
}

tbody td {
    padding: .7rem;
}

tbody td .button {
    padding: .3vw 1vw;
    border: 1px solid transparent;
    background-color: lib.$clr-btn-read-bg;
    color: lib.$clr-btn-read-font;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    margin-left: .5vw;
}

tbody td .button:hover {
    background-color: lib.$clr-second;
    color: black;
}

.img {
    position: relative;
    width: lib.$icon-width;
    cursor: pointer;
    fill: gray;
}

.img__up {
    margin-right: .7vw;
}

.star {
    cursor: pointer;
    width: lib.$icon-width;
    height: lib.$icon-width;
    fill: gray;
}

.star--active {
    fill: rgb(255, 217, 0);
}

tbody tr {
    box-shadow: 0 1.3px 1px lib.$clr-grey-shadow;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

.div-pagination {
    position: relative;
    display: flex;
    justify-content: center
}

.div-pagination button {
    font-size: large;
    background-color: transparent;
    padding: .3vw .7vw;
    margin: .5vw;
    border: 1px solid lib.$clr-second;
    border-radius: 5px;
    transition: .3s;
}

button:hover {
    color: white;
    background-color: lib.$clr-second;
}

.waiter {
    width: 5vw;
    height: 5vw;


}

.waiter>td>div {
    height: 5vw;
    width: 5vw;
    content: "";
    border: 15px solid blue;
    border-radius: 100%;
}