@use "../../../_lib"as lib;

table {
    position: relative;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
}

table:nth-last-child(1) {
    box-shadow: 0px 4px 0px 0 lib.$clr-second;
}

thead {
    text-align: center;
    text-transform: uppercase;
    background-color: lib.$clr-second;
}

thead th {

    padding: 1rem;
}

tbody {
    text-align: center;
}

tbody td {
    padding: .7rem;
}

tbody td .button {
    padding: .3vw 1vw;
    border: 1px solid transparent;
    background-color: lib.$clr-btn-read-bg;
    color: lib.$clr-btn-read-font;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    margin-left: .5vw;
}

tbody td .button:hover {
    background-color: lib.$clr-second;
    color: black;
}

.img {
    position: relative;
    width: lib.$icon-width;
    cursor: pointer;
    fill: gray;
}

.img__up {
    margin-right: .7vw;
}

.star {
    cursor: pointer;
    width: lib.$icon-width;
    height: lib.$icon-width;
    fill: gray;
}

.star--active {
    fill: rgb(255, 217, 0);
}

tbody tr {
    box-shadow: 0 1.3px 1px lib.$clr-grey-shadow;
}

tbody tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

.div-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.div-pagination button {
    font-size: large;
    background-color: transparent;
    padding: .3vw .7vw;
    margin: .5vw;
    border: 1px solid lib.$clr-second;
    border-radius: 5px;
    transition: .3s;
}

.div-pagination__page-input {
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: medium;
    text-align: center;
}

.div-pagination__number-of-page {
    font-size: large;
}

button:hover {
    color: white;
    background-color: lib.$clr-second;
}

.waiter {
    width: 15vw;
    height: 15vw;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 10px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: " ";
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}