@use "../../../_lib"as lib;

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
}

.search {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    width: 100%;
    justify-content: center;

    .search__input {
        padding: .2vw;
        height: 2vw;
        width: 30vw;
        font-size: large;
        margin-right: 2vw;
    }

    .search__btn {
        background-color: transparent;
        height: 2.5rem;
        padding: 0 .5vw;
        font-size: large;
        border: 1px solid lib.$clr-second;
        border-radius: 5px;
        transition: .3s;
        cursor: pointer;
        margin-right: 1rem;
    }

    .search__btn:hover {
        color: white;
        background-color: lib.$clr-second;
        border: 1px solid transparent;
    }

    .search__btn--submit {
        color: white;
        background-color: lib.$clr-second;
    }

    .search__btn--submit:hover {
        color: black;
        background-color: transparent;
        border: 1px solid lib.$clr-second;
    }

    .search__btn--clean:hover {
        color: white;
        border: 1px solid transparent;
        background-color: rgba(255, 68, 0, 0.699);
    }
}

.filter {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem 0;
    width: 90vw;
    align-items: center;
    justify-items: center;
    box-shadow: 0 3px 4px -1px lib.$clr-grey-shadow;

    .filter__title {
        grid-column: 1 / span 4;
        grid-row: 1;
        width: 100%;
        height: 2vw;
        font-size: x-large;
        text-align: center;
        box-shadow: 0 3px 4px -1px lib.$clr-grey-shadow;
    }

    label {
        font-size: small;
        text-align: left;
        margin: 1.5rem;
        grid-row: 2;
    }

    .input {
        width: 5vw;
        padding: .2rem;
    }

    .input__lang {
        cursor: pointer;
    }

    .input__years {
        width: 7vw;
    }

    .filter-btn-section {
        position: relative;
        display: flex;
        width: 50%;
        height: 3vw;
        justify-content: center;
        align-items: center;

    }

    .filter-btn-section__btn {
        position: relative;
        margin: 0 .4rem;
        padding: .5rem;
        border-radius: 10%;
        background-color: transparent;
        cursor: pointer;
        transition: .3s;
    }

    .filter-btn-section__btn--filter {
        color: white;
        border: 1px solid transparent;
        background-color: lib.$clr-second;
        font-size: large;
    }

    .filter-btn-section__btn--filter:hover {
        color: black;
        background-color: transparent;
        border: 1px solid lib.$clr-second;
    }

    .filter-btn-section__btn--clean {
        color: black;
        border: 1px solid lib.$clr-second;
        background-color: transparent;
        font-size: large;
    }

    .filter-btn-section__btn--clean:hover {
        color: white;
        border: 1px solid transparent;
        background-color: rgba(255, 68, 0, 0.699);
    }

}


@media only screen and (max-width: 768px) {


    .search {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        width: 100%;
        align-items: center;

        .search__input {
            height: 2rem;
            width: 80vw;
            margin-bottom: 5vw;
        }

        .search__btn {
            padding: 1vw 2vw;
            height: 2.5rem;
        }
    }

    .filter {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 2rem 0;

        .filter__title {
            font-size: x-large;
            height: 10vw;
        }

        label {
            font-size: large;
        }

        .input {
            width: 30vw;
        }

        .filter-btn-section {
            display: flex;
            height: 15vw;
        }
    }
}