// header height in header component 
$header-height: 9vh;

// main colors 
$clr-first: greenyellow;
$clr-second: rgb(0, 211, 0);

$clr-btn-read-bg: rgb(145, 238, 145);
$clr-btn-read-bg: rgb(145, 238, 145);
$clr-btn-read-font: rgb(32, 90, 39);

$clr-grey-shadow:rgba(128, 128, 128, 0.514);

$icon-width: 1.5vw;